* {
    
    display: flex;
    flex-wrap: wrap;
}
body {
    height: 100%;
    width: 100%;
    margin: 1%;
}
.container{
    width: 100%;
    height: 100%;
    background-color: silver;
    margin: 1%;
    display: inline-block;
    text-align: center;
}
.top-nav {
    height: 150px;
    width: auto;
    background-color: green;
    margin: 2%;
}
.side-nav {
    height: 450px;
    width: 21%;
    background-color: blue;
    margin: 0% 1% 1% 2%;
    float: left;
}
.main {
    height: 550px;
    width: 71%;
    background-color: red;
    margin: 0% 2% 1% 1%;
    padding: 1%;
    float: right;
}
.sub-content {
    height: 0;
    width: 31.3%;
    padding-top: 31.3%;
    background-color: yellow;
    margin: 2% 1%;

}
#advertisement {
    height: 165px;
    width: 100%;
    background-color: purple;
    margin: 2% 1%;

}


